.index-header {
	background-color: #ffffff;
	height: 50px;
	width: 100%;
	text-align: center;
}
.index-header-tab {
	height: 50px;
	background-color: #ffffff;
	font-size: 16px;
}
.index-header-tab-button {
	display: inline-block;
	width: 12.5%;
	height: 50px;
	line-height: 50px;;
}
.index-selected {
	font-size: 18px;
	font-weight: 700;
	color: #007AFF;
}
.index-content {
	width: calc(100% - 20px);
	/* height: 50px; */
	padding: 10px;
}
.index-content-out {
/* 	background-color: #ffffff;
	border-radius: 5px;
	padding: 10px; */
}
.index-time {
	font-size: 14px;
	margin-bottom: 15px;
}
.index-time > span {
	color: #999999;
	margin-right: 10px;
}
.index-job {
	width: 100%;
	height: 100px;
	font-size: 10px;
}
.index-job-item {
	width: 20%;
	height: 100%;
	display: inline-block;
	text-align: center;
}
.index-job-item > p {
}
.index-job-item-number {
	font-size: 20px;
	font-weight: 700;
	height: 50px;
	line-height: 50px;
}
.index-job-item-error {
	max-width: 55px;
	height: 15px;
	margin: 0 auto;
	display: inline-block;
	line-height: 13px;
	/* height: ; */
}
.index-job-item-error-show {
	background-color: #ffebee;
	color: #FF0000;
	width: 45px;
	height: 13px;
	padding: 5px;
	border: 1px #ff0000 solid;
	border-radius: 2px;
}
.index-new-content-p-z {
	width: 6px;
	height: 6px;
	background-color: #d9d9d9;
	border-radius: 50%;
	margin-left: 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.index-new-content-p-c {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #cee0fb;
	position: relative;
	margin-top: 12.5px;
}
.index-new-content-p-c > div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #1183FB;
}
.index-new-content-p-type {
	display: inline-block;
	width: 10px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}
.index-new-content-p-active {
	display: inline-block;
	margin-left: 5px;
}
.index-new-content-p-title {
	flex: 1;
	display: inline-block;
	margin-left: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}